<%= form_tag({action: :pdf_upload}, multipart: true) do %>

  <h1>Load pdf for: <%= @product_data.product_name %></h1>

  <%= file_field_tag 'pdf' %>
  <%= hidden_field_tag(:product_id, params[:product_id]) %>
  <%= hidden_field_tag(:product_type, params[:product_type]) %>
  </br>
  <%= submit_tag "upload pdf file" %>
<% end %>