<style>
#admin_products  {border-collapse:collapse; margin:10px;}
#admin_products td {border: 1px solid black; padding:3px;}
</style>
<p><br> &nbsp;&nbsp;&nbsp;<a href="/admin/index">Admin 
        Home</a>&gt;&gt; <a href="/admin/product_index">Product Management Menu</a> &gt;&gt; Products To Edit<br> <br> </p>
<table id="admin_products">
<% @products.each do |prod| %>
	<tr>
		<td><%= prod.product_id %></td>
		<td><%= prod.product_name %></td>
		<td><%= prod.description if prod.try(:description) %>
    <td><%= prod.pdf %></td>
    <td><a href="/admin/load_pdf/<%= params[:product] %>/<%= prod.product_id%>">change pdf</a></td>
    <td><%= prod.html_file %></td>
    <td><a href="/admin/load_html/<%= params[:product] %>/<%= prod.product_id%>">change html file</a></td>
		<td><%= prod.product_line %></td>
		<td><a href="/admin/product_edit_item?product_type=<%=@product%>&product_id=<%= prod.product_id %>">edit</a></td>
		<td>
			<% if prod.is_active %>
			<a href="/admin/product_delete_item?product_type=<%=@product%>&product_id=<%= prod.product_id %>">delete</a>
			<% else %>
				deleted
			<% end %>
		</td>
	</tr>
<% end %>
</table> 
<a href="/admin/product_new?product_type=<%= @product %>">New Product</a>