<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_miadm.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
            We offer a broad assortment of intelligent <a href="#Table">alphanumeric</a> 
            displays with built-in control circuitry (often called character displays). 
            Standard formats range from 1 line by 16 characters up to 4 lines 
            by 40 characters (custom formats are also available). High bright 
            backlight systems that we offer include transflective reflectors and 
            LED arrays, with electroluminescent panels available on a special 
            order basis. High brightness backlights are desirable in most medical 
            / commercial / industrial instrumentation applications. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            <p> Most of the displays come with the widely used and highly versatile 
              HD44780 controller built-in. These displays are appropriate for 
              use do an excellent job on text.</p>
            <p> Please also see how we might be able to help you with a <a href="/products/displays_vas">custom 
              solution</a> [VAS] to your LCD.</p>


        </div>
        <div id="catalog">
          <table border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td class="TableBorderColor">
                    <table border="0" cellspacing="1" id="thetable">
                      <tr> 
                        <td nowrap class="TableTextHeader">Part Number<br>
                          Click for PDF </td>
                        <!--<td align="center" class="TableTextHeader">LCD<br>
                          Technology</td>-->
                        <td align="center" class="TableTextHeader">Lines x Characters</td>
                        <td align="center" class="TableTextHeader">Character Size<br>
                          (mm) W x H</td>
                        <td align="center" class="TableTextHeader">Viewing Area<br>
                          (mm) W x H</td>
                        <td align="center" class="TableTextHeader">Outline Dimensions<br>
                          (mm) W x H x D</td>
                        <td align="center" class="TableTextHeader">Driving Voltage 
                          (V)</td>
                        <td align="center" class="TableTextHeader">Backlight</td>
                        <td align="center" class="TableTextHeader">Built-in Controller</td>
                        <td align="center" class="TableTextHeader">Sample Price</td>
                        <td align="center" class="TableTextHeader">Stock Check</td>
                        <td align="center" class="TableTextHeader">Order <br>
                          Sample</td>
                      </tr>
                      <tr bgclolor="#ffffff">
                        <td colspan="12" bgcolor="#ffffff" class="TableTextBold">STN, FSTN, BST</td>
                      </tr>
                      <% ProductDisplaysIntchar.to_display.each do |product| %>
                      <tr> 
                          <td nowrap class="TableTextBold"><strong><A HREF="/pdf/<%= product.pdf %>" target="_blank"><%= product.product_name %></a>
                          	<% if product.is_new %><span class="TableTextNEW">NEW!</span><% end %>
                            </strong></td>
                          <!--<td align="center"><div align="center"></div></td>-->
                          <td align="center" class="TableText"><div align="center"><%= product.lines %></div></td>
                          <td align="center" class="TableText"><div align="center"><%= product.character_size %></div></td>
                          <td align="center" class="TableText"><div align="center"><%= product.viewing %></div></td>
                          <td align="center" class="TableText">
                              <div align="center"><%= product.outline %></div></td>
                          <td align="center" class="TableText"><div align="center"><%= product.driving %></div></td>
                          <td align="center" class="TableText"><div align="center"><%= product.backlight %></div></td>
                          <td align="center" class="TableText"><div align="center"><%= product.built %></div></td>
                          
                            <td align="right" class="TableText"><div align="center">$<%= product.product_price %></div></td>
      <td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=<%= product.product_name %>&pq=Search" target="_blank">Inventory</td>
                            <td class="TableText"><div align="center"><a href="https://www.purdyelectronics.com/order/index?prod_sel=<%= product.product_id %>&prod_type=product_displays_intchar"><%= image_tag "buts/order.gif" %></a></div></td>
          
                        </tr>

                      <% end %>
                  </table>
              </td></tr></table>

        </div>
</div>