<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Opto.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'opto_links' %>
        <div class="content">
            <div>
              <h1>Green LEDS</h1>
            </div>

            Extensive Lineup of Green Light-Emitting Diode Products</h1><br>
              <a href="#Table">Below</a>, we offer a broad assortment of green 
              light-emitting diode (LED) products in colors ranging from 505 to 
              574 nm, and with luminous intensity ranging from two to 5,000 mcd. 
              Package types include a wide variety of green surface mount LED 
              devices (SMDs) and green LED lamps with wire leads in standard 3-mm, 
              5-mm, and 10-mm sizes. 
              <p> Check out our offering of green LED lamps and green surface-mount 
                LED devices in the <a href="#Table">table</a> below. If you have 
                an application-specific need, please visit our <a href="/products/vas_leds">value 
                added services</a> page. 
                All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/about/warranty.cfm">warranty</a> against defects in materials or workmanship. 



    </div>

        <div id="catalog"> 

      <p><a href="/pdf/LED-SFC.pdf" target="_blank"><strong><font size="2">LED Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>

              <table class="catalogTable" width="100%" border="0" cellpadding="1" cellspacing="1">
                <tr> 
                  <td rowspan="2" class="TableTextHeader">Type</td>
                  <td rowspan="2" class="TableTextHeader">Part Number<br>
                    Click for PDF</td>
                  <td rowspan="2" align="center" class="TableTextHeader">LED Color</td>
                  <td rowspan="2" align="center" class="TableTextHeader">Lens 
                    Color</td>
                  <td rowspan="2" align="center" class="TableTextHeader"><img src="/images/symbol1.gif" alt="symbol1.gif (854 bytes)" width="10" height="10"> 
                    <br>
                    Peak<br>
                    (nm)</td>
                  <td colspan="2" align="center" class="TableTextHeader">Luminous 
                    Intensity, I v (mcd)</td>
                  <td rowspan="2" align="center" class="TableTextHeader">(I F 
                    -mA)</td>
                  <td rowspan="2" align="center" class="TableTextHeader">Total 
                    Angle<br>
                    (degree)</td>
                  <td rowspan="2" align="center" class="TableTextHeader">Material</td>
                  <td rowspan="2" align="center" class="TableTextHeader">Sample 
                    Price</td>
      <td rowspan="2" align="center" class="TableTextHeader">Stock Check</td>
                            <td rowspan="2" width="10%" class="TableTextHeader"><div align="center">Order<br>Sample</div></td>
                          </tr>
                <tr> 
                  <td align="center" class="TableTextHeader">Min</td>
                            <td align="center" class="TableTextHeader">Typ</td>
                          </tr>
          
          <% ProductLedsGreen.to_display.each do |product| %>   
             <tr align="left" bgcolor="#ffffff"> 
                    <td align="center" class="TableText"><%= product.item_type%></td>
                    <td nowrap class="TableTextBold"><a href="/pdf/<%= product.pdf%>" target="_blank"><%= product.product_name%></a><% if product.is_new %><span class="TableTextNEW">NEW!</span><% end %> </td>
                    <td align="center" class="TableText"><%= product.led%></td>
                    <td align="center" class="TableText"><%= product.lens%></td>
                    <td align="center" class="TableText"><%= product.peak%></td>
                    <td align="center" class="TableText"><%= product.lmin%></td>
                    <td align="center" class="TableText"><%= product.typ%></td>
                    <td align="center" class="TableText"><%= product.ifma%></td>
                    <td align="center" class="TableText"><%= product.total%></td>
                    <td align="center" class="TableText"><%= product.material%></td>
      
          <td class="TableText" align="right"><div align="center">$<%= product.product_price %></div></td>
      <td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=<%= product.product_name%>&pq=Search" target="_blank">Inventory</a></td>
          <td class="TableText"><div align="center"><a href="https://www.purdyelectronics.com/order/index?prod_sel=<%= product.product_id%>&prod_type=product_leds_green"><%= image_tag "buts/order.gif" %></a></div></td>
          
                  </tr>
        <% end %>
                 
      </table>

    </div>
</div>