<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Interfan.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interfan_links' %>
        <div class="content">
            <div>
              <%= image_tag "PageTitles/inter_ffffg.gif" %>
            </div>

     <strong>INTERFAN</strong> fan filter and fan finger guard accessories 
            are available for most of our <a href="/products/interfan_ac_fans">AC</a> and <a href="/products/interfan_dc_fans">DC</a> 
            fan offerings. We offer wire form fan finger guards to fit all standard 
            fan sizes. 
            All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
            <p> We also offer plastic fan filter and metal fan filter accessories. 
              The plastic fan filter consists of a finger guard, foam filter and 
              retainer. The filter media comes in 30, 45, 60 and 100 PPI, offering 
              a wide range of filtering capabilities. The metal fan filters offer 
              high levels of air passage while efficiently filtering contaminants 
              and shielding EMI/RFI. The aluminum frame holds a tightly woven 
              stainless steel corrugated mesh screen for high performance in difficult 
              environments.</p>
            <p> We also offer fan power cords, primarily to support our <a href="/products/interfan_ac_fans">AC 
              fan line</a>. These cords come standard in 24&rdquo; lengths with 
              a straight plug. They are also available in the length of your choice 
              with an assortment of head styles. We also offer <a href="/products/interfan_vas">value 
              added services</a> for custom cable and connector assemblies.</p>
            <p><strong> Check out our offerings of fan finger guards, filters 
              and cords below:</strong></p>
      <p><strong>If you would like to download a data sheet:</strong></p>

        <a href="/pdf/FAN-SFC.pdf" target="_blank"><strong><font size="2">Fan Short Form Catalog</a> – Download Complete Short Form Catalog</font></strong></p>
           <table border="0" cellspacing="1">
            <tr> 
              <td class="TableTextHeader">Product Type</td>
              <td class="TableTextHeader">Part Number</td>
              <td class="TableTextHeader">Fan Compatability</td>
              <td class="TableTextHeader">Construction</td>
              <td class="TableTextHeader">Sample Price</td>
              <td align="center" class="TableTextHeader">Stock Check</td>
              <td class="TableTextHeader"><div align="center">Order<br>Sample</div></td></tr>
                              </tr>
          <% ProductFansAccessory.to_display.each do |product| %>    
                 <tr align="left" bgcolor="#ffffff"> 
              <td class="TableTextBold"><%= product.item_type %></td>
              <td class="TableText"><center><strong><A HREF="/pdf/<%= product.pdf %><" target="_blank"><%= product.product_name %></a><span class="TableTextNEW"> 
            </strong></center></td>
              <td class="TableText"><center><%= product.fan_compat %></center></td>
              <td class="TableText"><center><%= product.construction %></center></td>
                              
                                <td class="TableText" align="right"><div align="center">$<%= product.product_price %></div></td>
          <td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=<%= product.product_name %>&pq=Search" target="_blank">Inventory</a></td>
                                <td class="TableText"><div align="center"><a href="/order/index?prod_sel=<%= product.product_id %>&prod_type=accessories"><%= image_tag "buts/order.gif" %></a></div></td>
          
            </tr>
          <% end %>

          </table>

    </div>
</div>