<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Displays.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'display_links' %>
        <div class="content">
  <%= image_tag "PageTitles/anddis_pugnplay.gif" %>
  
<img src="/images/um.gif" width="1" height="8"><br>
            To aid in the prototyping process, Purdy Electronics has assembled all of the components that you will need to light up your display the day that you get it. The kits generally include: the display, LCD controller circuitry, power supply, CCFL DC-AC inverter, and cabling. Also included is full documentation, including component specifications, system diagram and cable maps.</p>
            <p><strong>If you would like a sample (one per customer):</strong></p>


        </div>
        <div id="catalog">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="TableBorderColor"><table width="100%" border="0" cellspacing="1" cellpadding="1">
                      <tr>
                        <td width="20%" class="TableTextHeader">PART NUMBER<br>
                          Click for PDF </td>
                        <td width="50%" class="TableTextHeader">DESCRIPTION</td>
                        <td width="10%" class="TableTextHeader"><div align="center">Sample
                            Price</div></td>
			<td align="center" class="TableTextHeader">Stock Check</td>
                        <td width="10%" class="TableTextHeader"><div align="center">Order<br>Sample</div></td>
                      </tr>
                      <% ProductDisplaysPrototyping.to_display.each do |product| %>
                       <tr bgcolor="#ffffff">
                          <td valign="top" class="TableTextBold"><strong><A HREF="/pdf/<%= product.pdf %>" target="_blank"><%= product.product_name %></a><span class="TableTextNEW">
                            <span class="TableTextNEW">
                            
                              NEW!
                            
                            </span></strong></td>
                          <td valign="top" class="TableText"><%= product.description %></td>
                          
                            <td class="TableText" align="right"><div align="center">$<%= product.product_price %></div></td>
			<td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=<%= product.product_name %>&pq=Search" target="_blank">Inventory</a></td>
                            <td class="TableText"><div align="center"><a href="https://www.purdyelectronics.com/order/index?prod_sel=<%= product.product_id %>&prod_type=product_displays_prototyping"><%= image_tag "buts/order.gif" %></a></div></td>
			    
                        </tr>
                        <% end %>
                   </table>
        </div>
</div>