<style>
  #header_container { width:764px; height:250px; background:url(<%= asset_path "headers/2ndhead_Switch.jpg" %>) no-repeat left bottom;}
</style>

<div id="main_content">
            <%= render :partial => 'interswitch_links' %>
            <div class="content">

            <%= image_tag "PageTitles/switch_thumb.gif" %></br>
            Manufacturing, process automation, and measurement systems often require the input of data (number or code) by an operator. Front panel mounted<strong> Interswitch</strong> thumbwheel switches are generally ideal for these types of applications. We offer 15 distinct types of thumbwheel switches to choose from, starting with type N, the smallest, and ending with type G, the largest. These switches are available in 21 standard codes and can be ganged from one up to 25 characters (side-by-side) and configured with alphabetic or numeric characters embossed in each wheel position (1 to 7 position versions are available). Customers chose solder types and PCB pins or connector terminations; all connectors are gold plated to insure you get years of trouble-free service. Working voltage ranges up to 50 volts DC. 
              All (AND Displays, Interfan, AND Optoelectronics, Interswitch, or Interoptics) products are covered by a one-year  <a href="/warranty">warranty</a> against defects in materials or workmanship. 
              <p> The most popular models are the M, H, P, and L switches. Our models R, S, D, and Z switches have mechanical and electrical features required for more unique applications. Larger models include our A, B, and G models. </p>
            <p><strong> <a href="/products/switch_vas">Value Added Services</a></strong> &ndash; All <strong>Interswitch</strong> thumbwheel switches are assembled to order from off-the-shelf inventory to meet your unique requirements and to provide you with fastest possible delivery. Additionally, you can specify colors and your own alphanumeric embossing to meet your application requirements. </p>
            <p> Check out our offering of thumbwheel switches in the table below.</p>
<p><strong>If you would like to download a data sheet:</strong></p>
<ul>
  <li>Click on the <strong>part number</strong> to access a PDF file.</li>
  </ul>

            <p><strong> If you would like a sample of a thumbwheel switch (single position - one per customer):</strong></p>
            <ul>
              <li> Fill in the part number (one per customer, please); </li>
              <li> Click on the <strong>&ldquo;Order Sample&rdquo;</strong> button. </li>
            </ul>
            <p> If you have design needs not found within these products, please call us or <a href="mailto:customerservice@purdyelectronics.com">email</a> your requirements to us. </p>
		<p><a href="/pdf/Switch-SFC.pdf" target="_blank"><strong><font size="2">Switch Short Form Catalog</a> - Download Complete Short Form Catalog</font></strong></p>
  </div>

          <div id="catalog">

              <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="TableBorderColor">
                <table border="0" cellspacing="1" cellpadding="1">
                  <tr>
                    <td width="71" class="TableTextHeader">Part Number<br>
                      Click for PDF</td>
                    <td width="64" class="TableTextHeader">Description</td>
                    <td width="51" class="TableTextHeader">Positions Available</td>
                    <td width="124" class="TableTextHeader">Available Coding</td>
                    <td width="53" class="TableTextHeader"><div align="center">Maximum Current (A) AC or DC</div></td>
                    <td width="44" class="TableTextHeader"><div align="center">Working Voltage AC or DC</div></td>
                    <td width="75" class="TableTextHeader"><div align="center">Dimensions WxHxD(mm)</div></td>
                    <td width="40" class="TableTextHeader"><div align="center">Sample Price</div></td>
      <td align="center" class="TableTextHeader">Stock Check</td>
                        <td width="10%" class="TableTextHeader"><div align="center">Order<br>Sample</div></td>
                  </tr>
                         
             
              <%  ProductSwitchesThumb.to_display.each do |product| %>
                <tr align="left" bgcolor="#ffffff"> 
                    <td class="TableTextBold"><A HREF="/pdf/<%= product.pdf%>" target="_blank"><%= product.product_name%></a>
                    	<% if product.is_new %><span class="TableTextNEW">NEW!</span><% end %></td>
                    <td class="TableText"><%= product.description %></td>
                      <td class="TableText"><%= product.positions %></td>
                    <td class="TableText"><%= product.available %></td>
                    <td class="TableText"><%= product.maximum %></td>
                    <td class="TableText"><%= product.working %></td>
                    <td class="TableText"><%= product.dimensions %></td>
          
                    <td class="TableText" align="right"><div align="center">$<%= product.product_price %></div></td>
                    <td align="center" class="TableText"><a href="http://dilp.netcomponents.com/cgi-bin/purdyelectronics.asp?partnumber1=<%= product.product_name%>&pq=Search" target="_blank">Inventory</a></td>
                    <td class="TableText"><div align="center"><a href="https://ssl32.chi.us.securedata.net/purdyelectronics.com/orderdetails.cfm?prod_sel=<%= product.product_id %>&prod_type=thumb"><%= image_tag "buts/order.gif" %></a></div></td>
      
              </tr>


              <% end %>

            </table>
          </td>
          </tr>
          </table>

          </div>


</div>