<!-- Products|Value Added Services|What's New|About Us| Contact Us|Site Map|Home -->
<style>

</style>
<div>
	<ul id="header" class="header_links">
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/products/index">Products</a>
		</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			Value Added Services</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			What's New</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			About Us</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			Contact Us</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			Site Map</li>
	</ul>
</div>