<!-- Products|Value Added Services|What's New|About Us| Contact Us|Site Map|Home -->
<style>

</style>
<div>
	<ul id="header" class="header_links">
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/products/index">Products</a>
		</li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/vas/index">Value Added Services</a></li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/wnew/index">What's New</a></li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/about/index">About Us</a></li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			<a href="/contact_us">Contact Us</a></li>
		<li class="header_links">
			<%= image_tag "nav/navtopover.gif", width: "4",height: "24" %>
			Site Map</li>
	</ul>
</div>