

<!-- header template starts here -->
<html>
<head>
<title>Purdy Electronics Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
body {
	background-image:    url("<%=  asset_path "bg/bg.gif" %>");
	background-repeat: repeat-y;
}
-->
</style>
<%= stylesheet_link_tag    "application", :media => "all" %>
<meta name="title" content="The contact information for Purdy Electronics Corporation in Sunnyvale, CA.">
<meta name="description" content="You can phone Purdy Electronics at 408-523-8200 or fax at 408-733-1287 or email at customerservice@purdyectronics.com. Mail can be sent to Purdy Electronics at 720 Palomar Avenue, Sunnyvale, CA 94085. We also list distributors by the region for local sales and support of our products.">
<meta name="keywords" content="TFT color LCD display, Graphic LCD display, Alphanumeric LCD display, 7 segment display, LED lamp, LED SMD, LED segment display, Fiber optic modem, Rotary DIP coded switch, Thumbwheel coded switch, LCD flat panel display, TFT color LCD display, TFT color LCD module, TFT color LCD monitor, Poly-silicon LCD display, Graphic LCD display, Alphanumeric LCD display, 7 segment LCD display, LCD high bright backlight, LED lamp, LED SMD, LED segment display, Special shape LED lamp, Dual color LED lamp, AC tube axial cooling fan, AC centrifugal radial blower, DC tube axial cooling fan, DC centrifugal radial blower, Heat sink fan, Fan filter finger guard, Thumbwheel switch, Rotary DIP code switch, Sealed rugged keypad, Fiber optic modem, Fiber optic patch cable, Value added services">
<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><%= image_tag "admin/images/pa_topline.gif", "width"=>764, :height=> "11" %></td>
  </tr>
  <tr>
    <td width="187" bgcolor="#FFFFFF"><%= image_tag "admin/images/logo_purdy.gif" %></td>
    <td width="577" align="right" valign="top" bgcolor="#FFFFFF"><a href="#"><%= image_tag "admin/images/panav.gif" %></a><a href="/admin/index">Main Menu</a><a href="#"><%= image_tag "admin/images/panav.gif" %></a><a href="http://www.purdyelectronics.com" target="_blank" >Live Site</a><a href="#"><%= image_tag "admin/images/panav.gif"%></a><a href="/admin/logout">Logout</a></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><%= image_tag "admin/images/dot_grey.gif" %><%= image_tag "admin/images/pa_header.gif" %></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><%= image_tag "admin/images/um.gif"%></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><%= image_tag "admin/images/um.gif" %></td>
  </tr>
  <tr>
    <td colspan="2" background="<%=  asset_path "admin/images/bg_dotted.gif" %>"><%= image_tag "admin/images/um.gif" %></td>
  </tr>
</table>
  <table width="765" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td width="454" valign="top">
        <!-- header template ends here -->
          <%= yield %>
        <!-- footer template starts here-->
      </td>
      <td width="100"><%= image_tag "admin/images/um.gif", :width => 100, :height => 1 %></td>
    </tr>
  </table>
  </td>
  </tr>
</table>
<table width="765" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="60" class="Footer"></td>
  </tr>
  <tr>
    <td height="20" bgcolor="#999999" class="CopyRight"><%= image_tag "admin/images/um.gif" %>Copyright 2004 Purdy Electronics Corporation | 720 Palomar Ave. Sunnyvale, CA 94085-2914 | PH: 408.523.8200 FAX: 408.733.1287
</td>
  </tr>
</table>

</body>
</html>
<!-- footer template ends here-->
