<!DOCTYPE html>
<html>
<head>
  <title>PurdySite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrap">
	<%= render :partial => "layouts/default_header" %>
	<%= yield %>
	<%= render :partial => "layouts/footer" %>
</div>

</body>
</html>
